body {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h1 {
    font-weight: normal;
    font-size: 3.125rem;
}

.links {
    color: aquamarine;
}
